.socialLinks {
  display: flex;
  gap: var(--spacing-small);

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--white);
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      filter: brightness(0.8);
      transform: rotate(360deg);
    }

    img {
      object-fit: cover;
      max-width: 100%;
      display: block;
    }
  }
}
