.footer {
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-medium);
  width: 100%;
  background: var(--primary-color);
  color: var(--text-light);
  padding: var(--spacing-large) 0 var(--spacing-medium);

  h2 {
    font: 400 var(--font-size-xxlarge) var(--font-main);
  }

  strong {
    color: var(--text-light);
  }

  @keyframes pulse {
    to {
      transform: scale(1.2);
    }
  }

  svg {
    animation: pulse 0.25s infinite alternate;
    color: red;
    position: relative;
    top: 5px;
    width: 1.8rem;
    height: 1.8rem;
  }
}

.footerSmallText{
  font-size: var(--font-size-small);
  color: var(--neutral-300);
  margin-top: 0.8rem;
}